{% extends './--base.html' %}
{% load static %}

{% block head %}
<title>Sign In</title>
{%endblock%}


{% block content %}

        <div class="wrapper__content">

            <div class="wrapper__image sign-in">
                <img src="{% static 'users/image/cover.png' %}" alt="cover image" class="media">
            </div>

            
            <section class="wrapper__main">

                <main class="main-content">
                    <header class="header">
                        <h1 class="header__title">Sign In</h1>
                        <!-- <span> or <a href="Sign-up.html" class="">create an accout</a></span> -->
                    </header>
                    <section class="content">
                        <section class="login-options">
                            <ul class=" option-list">
                                <li class="button-primary option c-secondary">
                                    <i class="fa-brands fa-google icon"></i> <div class="name">Sign In with Google</div>
                                </li>
                                <li class="button-primary option c-primary">
                                    <i class="fa-brands fa-twitter icon"></i></i><div class="name">Sign In with Twitter</div>
                                </li>
                            </ul>
                        </section>

                        <span class="divider"></span>

                        <form action="." method="post" class="form">
                            {% csrf_token %}
                            <ul>
                                
                                <li>
                                    <div class="field">
                                        {{ form.username }}
                                        <label for="{{ form.username.id_for_label }}">Email address:</label>
                                    </div>
                                    {{ form.username.errors }}
        
                                </li>

                                <li>
                                    <div class="field">
                                        {{ form.password }}
                                        <label for="{{ form.password.id_for_label }}">Password:</label>
                                    </div>
                                    {{ form.password.errors }}
                                </li>
                                
                                <p><a href="" id="forgotPassword">Forgot your Password?</a></p>
                                
                            </ul>
                            <aside class="info">
                                <p>Don't have a account? <a href="sign-up.html">Sign Up</a></p>
                                <button type="submit" class="submit"><p>Sign In</p></button>
                            </aside>
                        </form>

                    </section>
                    
                </main>
                
            </section>
            
        </div>

        <footer class="footer"></footer>

        <script>
            document.querySelectorAll('.field input').forEach(e => {
                e.setAttribute('placeholder', ' ');
            })
        </script>
{% endblock %}