{% extends './../base.html' %}
{% load static %}

{% block head %}
<title>Sign In</title>
{%endblock%}


{% block content %}

        <div class="wrapper__content">

            <div class="wrapper__image sign-in">
                <img src="{% static 'image/cover.png' %}" alt="cover image" class="media">
            </div>

            
            <section class="wrapper__main">

                <main class="main-content">
                    <header class="header">
                        <h1 class="header__title">Sign In</h1>
                        <!-- <span> or <a href="Sign-up.html" class="">create an accout</a></span> -->
                    </header>
                    <section class="content">
                        <section class="login-options">
                            <ul class=" option-list">
                                <li class="button-primary option c-secondary">
                                    <i class="fa-brands fa-google icon"></i> <div class="name">Sign In with Google</div>
                                </li>
                                <li class="button-primary option c-primary">
                                    <i class="fa-brands fa-twitter icon"></i></i><div class="name">Sign In with Twitter</div>
                                </li>
                            </ul>
                        </section>

                        <span class="divider"></span>

                        <form action="." method="post" class="form">
                            {% csrf_token %}
                            <ul>
                                {% for field in form %}
                                    <li>
                                        <div class="field">
                                            {{ field }}
                                            {{ field.label_tag }}
                                        </div>
                                        {{ field.errors }}
                                    </li>
                                {% endfor %}
                                
                                
                                <p><a href="" id="forgotPassword">Forgot your Password?</a></p>
                                
                            </ul>
                            <aside class="info active">
                                <p>Don't have a account? <a href="sign-up.html">Sign Up</a></p>
                                <button type="submit" class="submit"><p>Sign In</p></button>
                            </aside>
                        </form>

                    </section>
                    
                </main>
                
            </section>
            
        </div>

        <footer class="footer"></footer>
{% endblock %}