{% extends './--base.html' %}
{% load static %}

{% block head %}
<title>Sign Up</title>
<script src="{% static 'users/js/layout.js' %}" defer></script>
<script src="{% static 'users/js/validate.js' %}" defer></script>
{%endblock%}
{%load static%}

{% block content %}

    <div class="wrapper">

        <div class="wrapper__content">

            <div class="wrapper__image sign-up">
                <img src="{% static 'users/image/cover.png' %}" alt="cover image" class="media">
            </div>

            
            <section class="wrapper__main">

                <main class="main-content">

                    <header class="header">
                        <h1 class="header__title">Sign Up</h1>
                    </header>

                    <section class="content">

                        <form action="." method="post" class="form" id="signup" novalidate>
                            {% csrf_token %}
                            <fieldset id="userType" class="section section--active form">
                                
                                <p class="section__title">Are you a professional looking for clients or a client looking for professionals?</p>
                                
                                <div class="options" data-required="true">
                                    <button  type="button" class="card choice flow-choice">
                                       <input 
                                            name="userType" 
                                            id="userType: professional" 
                                            type="radio" 
                                            class="card__input choice__input" 
                                            value="professional"
                                        >
                                        <img src="{% static 'users/icons/work.png' %}" alt="img" class="card__image">
                                        <label for="userType: professional" class="card__text"> Professional </label>
                                    </button>
            
                                    <button  type="button" class="card flow-choice choice">
                                        <input 
                                            name="userType" 
                                            id="userType: client" 
                                            type="radio" 
                                            class="card__input choice__input" 
                                            value="client"
                                        >
                                        <img src="{% static 'users/icons/user.png' %}" alt="img" class="card__image">
                                        <label for="userType: client" class="card__text">Client</label>
                                    </button>

                                </div>
                                
                            </fieldset>
                            
                            <fieldset id="info" class="section section--inactive form">
                                <ul>
                                    <li>
                                        <span class="forms-control inactive" for="userName"> This field is required </span>

                                        <div class="field">

                                            <input
                                                type="text"
                                                name="userName"
                                                placeholder=" "
                                                id="userName"
                                                required="true"
                                                autocomplete="off"
                                                aria-required="true"
                                            >
                                            <label for="userName">Nome</label>
                                        </div>
                                    </li>

                                    <li>

                                        <span class="forms-control inactive" for="userEmail"> 
                                            Utilize o padrao 'example@example.com'
                                        </span>

                                        <div class="field">
                                            <input
                                            type="email"
                                            name="userEmail"
                                            placeholder=" "
                                            pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/."
                                            id="userEmail"
                                            autocomplete="off"
                                            required="true"
                                            aria-required="true" 
                                            >
                                            <label for="userEmail">E-mail</label>
                                        </div>
                                        
                                    </li>
                                    
                                    <li>

                                        <span class="forms-control inactive" for="userNumber"> This field is required. Use the format +(XX)XXXX-XXXX </span>

                                        <div class="field">
                                            <input
                                            type="tel"
                                            name="userNumber"
                                            placeholder=" "
                                            id="userNumber"
                                            pattern="/^[+]{1}[0-9]{11,14}/."
                                            autocomplete="off"
                                            required="true"
                                            aria-required="true" 
                                            >
                                            <label for="userNumber">Cellphone</label>
                                        </div>

                                    </li>

                                    <li>

                                        <span class="forms-control inactive" for="userCPF"> Use o formato : xxx.xxx.xxx-xx</span>

                                        <div class="field">
                                            <input
                                            type="text"
                                            name="userCPF"
                                            placeholder=" "
                                            id="userCPF"
                                            pattern="^[0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}|[0-9]{2}\.?[0-9]{3}\.?[0-9]{3}\/?[0-9]{4}\-?[0-9]{2}$"
                                            autocomplete="off"
                                            required="true"
                                            aria-required="true" 
                                            >
                                            <label for="userCPF"> <abbr title="Cadastro de Pessoas Físicas"> CPF </abbr></label>
                                        </div>

                                    </li>

                                    
                                    <li >

                                        <span class="forms-control inactive" for="userPassword"> 
                                            Use oito ou mais caracteres com uma combinação de letras, números e símbolos
                                        </span>

                                        <div class="field">
                                            <input
                                                type="password"
                                                name="userPassword"
                                                placeholder=" "
                                                id="userPassword"
                                                title="Tem que ter pelo menos 8 caracteres"
                                                autocomplete="off"
                                                required="true"
                                                aria-required="true" 
                                            >
                                            <label for="userPassword">Senha</label>
                                        </div>
                                        
                                    </li>

                                    <li >

                                        <span class="forms-control inactive" for="userPasswordConfirmation"> 
                                            As senhas não são iguais
                                        </span>

                                        <div class="field">
                                            <input
                                            type="password"
                                            name="userPasswordConfirmation"
                                            placeholder=" "
                                            id="userPasswordConfirmation"
                                            title="Tem que ter pelo menos 8 caracteres"
                                            required="true"
                                            aria-required="true" 
                                            >
                                            <label for="userPasswordConfirmation">Confirme a senha</label>
                                        </div>
                                        
                                    </li>

                                    <li> 
                                        <span class="forms-control inactive" for="terms"> This field is required </span>

                                        <input 
                                            type="checkbox" 
                                            id="terms" 
                                            name="terms"
                                            required="true"
                                            aria-required="true" 
                                        >
                                        <label for="terms">I agree with the terms</label>
                                    </li>
                                </ul>
                                <aside >
                                    <p>Already have a account? <a href="sign-in.html">Sign In</a></p>
                                    <button type="submit" class="submit"><p>Sign Up</p></button>
                                </aside>
                            </fieldset>

                            <fieldset id="professionalType" class="section section--inactive form">

                                <div class="options" data-required="true">
                                    <button  type="button" class="card choice step-choice">
                                       <input 
                                            name="professionalType" 
                                            id="professionalType: Nutricionista" type="radio" 
                                            class="card__input choice__input" 
                                            value="Nutricionista"
                                            data-next-step-key="professionalType"
                                        >
                                        <img src="{% static 'users/icons/food.png' %}" alt="img" class="card__image">
                                        <label for="professionalType: Nutricionista" class="card__text"> Nutricionista </label>
                                    </button>
            
                                    <button  type="button" class="card step-choice choice">
                                        <input 
                                            name="professionalType" 
                                            id="professionalType: Educador Fisico" type="radio" 
                                            class="card__input choice__input" 
                                            value="Educador Fisico"
                                            data-next-step-key="professionalType"
                                        >
                                        <img src="{% static 'users/icons/gym.png' %}" alt="img" class="card__image">
                                        <label for="professionalType: Educador Fisico" class="card__text">Educador Fisico</label>
                                    </button>

                                </div>
                            </fieldset>

                            <fieldset id="professionalCode" class="section section--inactive form">
                                <ul>
                                    <li>
                                        <div class="field">
                                            <input
                                            type="text"
                                            name="professionalCode"
                                            placeholder=" "
                                            id="code"
                                            autocomplete="off"
                                            required="true"
                                            aria-required="true" 
                                            >
                                            <label for="code">Inscrição</label>
                                        </div>
                                        <span class="forms-control inactive" for="code"> 
                                            Esse campo é obrigatorio
                                        </span>
                                    </li>
                                </ul>
                                <aside id="submit" class="">
                                    <button type="submit" class="submit"><p>Sign Up</p></button>
                                </aside>
                            </fieldset>
                        
                        </form>

                        <footer class="actions actions--active">
                            <button  type="button" class="actions__back" data-section=""><i class="fa-solid fa-backward"></i></button>
                            <button  type="button" class="actions__forward "> <i class="fa-solid fa-forward"></i></button>
                        </footer>
                    </section>
                    
                </main>
                
            </section>
            
        </div>

        <footer class="footer"></footer>
    </div>

{% endblock %}