@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: "Open Sans", sans-serif;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
a {
  color: #0071f2;
}

body, html, .wrapper {
  width: 100%;
  min-height: 100vh;
  height: max-content;
}

.wrapper__content {
  height: fit-content;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper__image {
  display: none;
}
@media only screen and (min-width: 600px) {
  .wrapper__image.sign-in {
    width: 50%;
  }
}
@media only screen and (max-width: 700px) and (min-width: 600px) {
  .wrapper__image.sign-in {
    width: 15em;
  }
}
@media only screen and (min-width: 600px) {
  .wrapper__image.sign-up {
    width: 15em;
  }
}
@media only screen and (min-width: 600px) {
  .wrapper__image {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #0071f2;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .wrapper__image .media {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.wrapper__main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.main-content {
  padding: 2em;
  width: 100%;
  max-width: 45em;
}
@media only screen and (max-width: 300px) {
  .main-content {
    padding: 1em;
  }
}
@media only screen and (min-width: 900px) {
  .main-content {
    padding: 4em;
    padding-top: 6em;
  }
}
.main-content .header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.main-content .header__title {
  font-weight: 500;
}
.main-content .login-options {
  width: 100%;
  padding: 2em 0 2em 0;
}
.main-content .option-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
}
.main-content .option-list .option {
  width: 100%;
  min-height: 2.4em;
  padding: 0.4em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.main-content .option-list .option.c-primary {
  background-color: #0071f2;
}
.main-content .option-list .option.c-secondary {
  background-color: #2f2e41;
}
.main-content .option-list .option .icon {
  font-size: 1em;
  width: 1em;
}
.main-content .option-list .option .name {
  width: calc(100% - 1em);
  font-weight: 500;
  text-align: center;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.224);
  margin-bottom: 2em;
}
.divider::after {
  content: "or";
  position: absolute;
  padding: 0 8px 0 8px;
  background-color: #FFF;
}

.field-list {
  margin-top: 1em;
  margin-bottom: 1em;
}

.form {
  padding: 0.5em 0 0.5em 0;
}
.form .field {
  --input-fontSize: 1em;
  --label-fontSize: 0.9em;
  --border-focus-size: 3px;
  position: relative;
  height: 3em;
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.form .field label {
  display: inline;
  position: absolute;
  left: 0.8em;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: var(--input-fontSize);
  top: calc(50% - (var(--input-fontSize) + 0.4em) / 2);
  color: gray;
  transition: 0.2s ease-in;
  padding: 0 0.2em 0 0.2em;
  z-index: -1;
}
.form .field input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid rgba(128, 128, 128, 0.446);
  font-size: 1em;
  padding: 1em;
  border-radius: 5px;
  background: none;
  font-size: var(--input-fontSize);
  z-index: 1;
}
.form .field input:focus {
  z-index: 0;
  outline: none;
  --border-angle: 0turn;
  background-color: #FFF;
  background-image: conic-gradient(from var(--border-angle), #FFF, #FFF 50%, #FFF), conic-gradient(from var(--border-angle), #FFF, #0071f2, transparent);
  background-size: calc(100% - var(--border-focus-size) * 2) calc(100% - var(--border-focus-size) * 2), cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 2500ms linear infinite;
  animation-play-state: running;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.form .field input:focus ~ label {
  color: #0071f2;
}
.form .field input:focus ~ label, .form .field input:not(:placeholder-shown):not(:focus) + label {
  --input-top: calc((var(--label-fontSize) + var(--border-focus-size) + 1px ) / 2 * -1);
  top: var(--input-top);
  background-color: #FFF;
  font-weight: 400;
  font-size: var(--label-fontSize);
  z-index: 1;
}
.form .info {
  display: flex;
  padding: 1em 0 1em 0;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1em;
}
.form #forgotPassword {
  font-size: 0.95em;
  font-weight: 400;
}
.form .submit {
  display: inline-block;
  min-width: 4em;
  width: 100%;
  max-width: 8em;
  height: 2.4em;
  font-weight: 600;
  font-size: 1em;
  border-radius: 5px;
  color: #FFF;
  background-color: #0071f2;
}
.form .select-field {
  padding-bottom: 0.5em;
}
.form .select-field select {
  height: 3em;
  outline: 1px solid rgba(128, 128, 128, 0.446);
  background-color: transparent;
  font-size: 1em;
  padding: 0.8em;
  border-radius: 5px;
  background: none;
  font-size: var(--input-fontSize);
}
.form .select-field .option {
  color: gray;
}

/*# sourceMappingURL=style.css.map */
